---
layout: base
---

<div class="grid__item mrgb">
    <article class="tile tile--link tile--intro">
        <header>
            <img src="{{ image.path | absolute_url }}/files/pictogram/triangle.png">
            <h2><a href="https://andco.ch">Mr. Triangle</a></h2>
            <h3><a href="https://andco.ch">Poly Innovator</a></h3>
        </header>

        <address>
            <span class="name">{{ include.card.name }}</span>
            <span class="title">{{ include.card.role }}</span>
            <span class="street">{{ site.street }}</span>
            <span class="city">{{ site.zip }} {{ site.city }}</span>
            <span class="country">{{ site.state }} - {{ site.country }}</span>
            <a class="email" href="mailto:triangle@andco.ch">triangle@andco.ch</a>
            <a class="phone" href="tel:+41788496223">+41 78 849 62 23</a>
        </address>
    </article>
</div>


<div class="grid__item w-1/2 sm-w-1/2 md-w-1/3 lg-w-1/4 mrgb text-center">
    <div class="tile tile--info">
        <h2>out of my mind</h2>
        <p>Welcome to my little mind,<br>where you can enjoy my creation and silly ideas and moment worth sharing</p>
    </div>
</div>

{% for image in site.static_files %}
{% if image.path contains '/files/mrtriangle' %}
<div class="grid__item w-1/2 sm-w-1/2 md-w-1/3 lg-w-1/4 mrgb container__media">
    <div class="tile">
        <a href="{{ image.path | absolute_url }}" target="blank"><img src="{{ image.path | absolute_url }}" alt="image" /></a>
    </div>
</div>
{% endif %}
{% endfor %}




