.container {
}

.container__content {
    margin-bottom:40px;
}

.container__media {
    img {
        width:100%;
    }
}

.overlay-content {

}

.overlay {
    opacity: 0;
    transition: .5s ease;
  }
  
  .container-content:hover .overlay {
    opacity: 1;
  }

