.tile {
    background:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 3px 5px 5px rgba(0,0,0,0.24);
}

.tile--info {
    padding:20px;

    img, h2, h3, address a {
        line-height: 1;
        font-size: 16px;
        text-shadow: 0 0 2px rgba(100, 100, 100, 0.3);

        &, a {
            text-decoration: none;
            color: black;
            font-style: normal;
        }
    }

    h2, h3 { text-transform: uppercase; }
}
